.citas-body {
  padding: 1.5rem 0;
  background-color: #f5f8fa;
  height: 100vh;
}

.citas-body .row > div {
  display: flex;
}

.citas-body app-citas-list,
.citas-body app-citas-calendario,
.citas-body app-citas-add {
  flex: 1 1 auto;
}

.full-height-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
