/* ------------------------------------------------------------------ */
/* --- INICIO DE ESTILOS PERSONALIZADOS --- */
/* ------------------------------------------------------------------ */

// 1. DEFINICIÓN DE VARIABLES SCSS
$color-primary: #009CA6;
$color-secondary: #007780;
$color-neutral-light: #F5F8FA;
$color-text-main: #1E1E1E;
$color-success: #3CB371;
$color-error: #E63946;

// 2. DEFINICIÓN DE VARIABLES CSS NATIVAS (CSS Custom Properties)
:root {
  /* Fondo principal de la aplicación */
  --background-color: #{$color-neutral-light}; 
  /* Fondo del contenedor principal */
  --main-bg: #{$color-neutral-light}; 
  /* Fondo para la barra lateral (la hacemos oscura) */
  --sidebar-bg: #1E1E1E; 
  /* Variables para la tipografía */
  --main-text-color: #{$color-text-main};
}

// 3. ESTILOS GLOBALES BASE
body {
  // Sobrescribe el fondo por defecto de Material por el nuestro.
  background-color: $color-neutral-light;
  // Sobrescribe el color de texto por defecto.
  color: $color-text-main;
}

// 4. REGLA ESPECÍFICA DE LOGIN
:host-context(app-login) {
  .app-layout, main {
    background-color: $color-primary !important;
  }
}

// 5. REGLAS DE MATERIAL
.mat-toolbar.mat-primary {
  background-color: $color-primary !important;
}

/* ------------------------------------------------------------------ */
/* --- FIN DE ESTILOS PERSONALIZADOS --- */
/* ------------------------------------------------------------------ */