
<div>
  <h2>Añadir nueva cita</h2>
  <form action="">
    <div>

      <label for="paciente">Paciente: <input type="text" name="paciente" [value]="id_paciente()" (input)="id_paciente.set($any($event.target).value)" placeholder="Nombre del paciente" ></label>

    </div> <br>
    <div>

      <label for="fecha">Fecha de la cita:
      <input type="date" name="fecha" [value]="fecha()" (input)="fecha.set($any($event.target).value)">
</label>
    </div> <br>

    <div>

      <label for="hora-inicio">Hora:
        <select name="hora-inicio" [value]="hora_inicio()" (change)="onHoraInicioChange($any($event.target).value)">
          <option value="">Selecciona hora</option>
      @for (slot of timeSlots; track slot ) {
          <option
              [value]="slot"
              [disabled]="isSlotDisabled(slot)"
              >
              {{slot}}

            </option>

            }


        </select>
        @if (hora_final()) {
          <span> - {{hora_final()}}</span>

        }
      </label>
    </div> <br>
    <div>

      <label for="profesional">Profesional:
      <input type="text" name="profesional" placeholder="ID del profesional" [value]="id_trabajador()" (input)="id_trabajador.set($any($event.target).value)">
</label>
    </div> <br>
    <div>

      <label for="notas">Notas:
      <input type="text" name="notas" [value]="razon_cita()" (input)="razon_cita.set($any($event.target).value)" placeholder="Añade información sobre la cita.">
</label>
    </div> <br>

     <div>

      <label for="estado">Estado:
        <select name="estado" [value]="estado()" (change)="estado.set($any($event.target).value)">
          <option value="Programada">Programada</option>
          <option value="Confirmada">Confirmada</option>
          <option value="Cancelada">Cancelada</option>
          <option value="Completada">Completada</option>
        </select>
</label>
    </div> <br>

    <button type="button" (click)="addCita()">Crear cita</button>
  </form>
</div>

